<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestNG">
<parameter name="baseURL" value="https://qa.koel.app/"/>
    <test name="Example Test" preserve-order="false">
        <classes>
            <class name="LoginTests"/>
            <class name="RegistrationTest"/>
            <class name="AddSongToPlaylistTest"/>
            <class name="ProfileTests"/>
            <class name="CreatePlaylistTest"/>
            <class name="DeletePlayListTest"/>
            <class name="PlaySongTest"/>
            <class name="SongsTest"/>
            <class name="RenamePlaylist"/>
        </classes>
    </test>
</suite>